<a href="https://colab.research.google.com/github/NungariBri/data-journey-foundations/blob/main/1_student_performance_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
import matplotlib.pyplot as plt

In [11]:
data = {
    "student":["Alex","Joy","Sam","Bri","Ali","Janet"],
    "course":["Databases","Python","AI","Machine learning","Datascience","Forensics"],
    "score":[78,85,90,88,75,82]
}
df = pd.DataFrame(data)
df

  student            course  score
0    Alex         Databases     78
1     Joy            Python     85
2     Sam                AI     90
3     Bri  Machine learning     88
4     Ali       Datascience     75
5   Janet         Forensics     82

In [12]:
df.head()

  student            course  score
0    Alex         Databases     78
1     Joy            Python     85
2     Sam                AI     90
3     Bri  Machine learning     88
4     Ali       Datascience     75